<h1>MyPages#home</h1>
<a href="/my_pages/home" class="w3-bar-item w3-button">Home</a>
<a href="/my_pages/help" class="w3-bar-item w3-button">Help</a>
<a href="/my_pages/about" class="w3-bar-item w3-button">About</a>
<p>Find me in app/views/my_pages/home.html.erb</p>

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

  <table class="w3-table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr>
      <td>Omar</td>
      <td>Dhorajiwala</td>
    </tr>
  </table>
</div>

</body>
</html>
